.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

.main-container {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20vw auto;
  column-gap: 2rem;
}

.home-container {
  display: grid;
  grid-template-columns: auto 30vw;
  column-gap: 2rem;
}

.placeholder {
  background-color: palevioletred;
  color: var(--color-white);
}
.placeholder h1 {
  font-size: 20rem;
  text-transform: rotate(90deg);
}

@media screen and (max-width: 1024px) {
  .main-container {
    grid-template-columns: 70px auto;
  }
}
