.feeds-wrapper {
  overflow-y: auto;
  display: grid;
  grid-template-columns: auto 30vw;
}

.feeds {
  background-color: palegreen;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.suggested-profiles-container {
  background-color: yellow;
}

.card {
  background: palevioletred;
  height: 4rem;
  width: 100%;
  flex: 0 0 auto;
}
