.form-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  width: 576px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 40px 40px;
  background-color: #ffffff;
  border-radius: 11px;
  margin: 12px auto;
  position: relative;
}

.back-button {
  position: absolute;
  top: 24px;
  left: 24px;
}

.logo-container {
  width: 80px;
  height: 80px;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0) 50%,
    #f8f8f888 100%
  );
  border: 1px solid #f7f7f8;
  filter: drop-shadow(0px 0.5px 0.5px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
  object-fit: cover;
  padding: 8px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}

.input-container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-left,
.icon-right {
  width: 20px;
  position: absolute;
  z-index: 99;
  top: 36px;
  color: black;
}

.icon-left {
  left: 12px;
}

.icon-right {
  right: 12px;
  cursor: pointer;
}

.icon-left.error,
.icon-right.error {
  color: red;
}

.input-label {
  font-size: 0.75rem;
  color: #8b8e98;
  font-weight: 600;
}

.input-label.error {
  color: red;
}

.input-field,
.input-field-with-icon-left,
.input-field-with-icon-right {
  width: auto;
  height: 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  color: black;
}

.input-field {
  padding: 0 0 0 12px;
}

.input-field-with-icon-left {
  padding: 0 0 0 40px;
}

.input-field-with-icon-right {
  padding: 0 40px 0 12px;
}

.input-field.error,
.input-field-with-icon-left.error,
.input-field-with-icon-right.error {
  border-color: red;
  color: red;
}

.input-field:focus,
.input-field-with-icon-left:focus,
.input-field-with-icon-right:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.error-message {
  font-weight: 300;
  text-align: right;
  font-size: 12px;
  color: red;
}

.block-level-button {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

.button-with-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-with-img img {
  width: 20px;
  height: 20px;
}

.blue-button {
  background: #115dfc;
  color: #ffffff;
}

.disabled-blue-button {
  background: #5789f3;
  color: #ffffff;
}

.white-button {
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}

.black-button {
  background: #212121;
  color: white;
}

.no-account-message,
.already-account-message {
  width: 100%;
  color: #115dfc;
  text-align: end;
  margin-top: -10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.no-account-message:hover,
.already-account-message:hover {
  text-decoration: underline;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
  text-decoration: underline;
}

.register-form-footer-container {
  padding: 20px 40px;
  background-color: #fff;
  width: 576px;
  text-align: center;
  border-radius: 11px;
  margin: 12px 0;
}

.register-form-footer-container a {
  color: #115dfc;
  cursor: pointer;
}

@media (max-width: 576px) {
  .form-container,
  .register-form-footer-container {
    width: 95%;
  }
}
