.page-not-found {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--color-primary);
}

.page-not-found h1 {
  font-size: 4rem;
}

.page-not-found p {
  font-size: 2rem;
}
