.select-media-modal {
  margin: 10% auto;
  border-radius: 0.5rem;
  width: 450px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
}

.modal-header span {
  color: var(--color-primary);
  cursor: pointer;
}

.modal-header h2 {
  font-weight: 600;
}

.select-media-modal img {
  width: 15rem;
  height: 15rem;
}

.select-media-modal h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.select-media-modal input[type="file"] {
  display: none;
}

@media screen and (max-width: 768px) {
  .select-media-modal {
    width: 60%;
  }

  .select-media-modal img {
    width: 10rem;
    height: 10rem;
  }

  .select-media-modal h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .select-media-modal {
    width: 80%;
  }
}
